.about-teal{
    display: flex;
    gap: 60px;

}
.teal-img{
    width: 500px;
    height: 500px;
    background-image: url(../images/teal-gang.webp);
    background-position: center;
    background-size: contain; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about-teal div{
    display: flex;
    
}
.teal-txt p{
    font-size: 18px;
    color: #424242;
    
}
.teal-txt{
    gap: 10px;
   width: 40%;
    flex-direction: column;
    /* align-self: center; */
    justify-content: center;
}
.abt-head{
    color: white;
    width: 100%;
    height: 75vh;
    display: flex;
    gap: 40px;
    background: linear-gradient(96.71deg,#182020 6.28%,rgba(255,255,255,0)70.51%),url(../images/gold.avif);
    background-position: center;
}
.abt-txt{
    width: 70%;
    height: 100%;
    padding-left: 7%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

}
.four{
    height: 500px;
    width: 100%;
    display: flex;
    gap: 10px;
}
.four-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
}

.four-img-txt{
    width: 50%;
    height: 100%;
    padding-left: 40px;
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
}
.abt-empty{
    width: 50%;
    height: 100%;
}
.img{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 25px;
}
.img div{
    background-repeat:no-repeat;
    width: 50%;
    height: 100%;
    background-size:cover;
   
}
.people{
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../images/group.jpg);
}
.people p{
    text-align:center;
    font-size:45px;
    color:white;
}
.img .img1{
    /* background:red; */
    border:0.5px solid rgb(221, 221, 221);
    background-image: url(../images/ceo-1.jpg); 
    
}
.img .img2{
    /* background:red; */
    background-image: url(../images/ceo-2.jpg); 
    
}
.img .img3{
    /* background:red; */
    background-image: url(../images/ceo-3.jpg); 
    background-position:center;
    
}
.img .img4{
    /* background:red; */
    background-image: url(../images/ceo-4.jpg); 
    /* background-position:center; */
    
}
.four-img-txt h1{
    font-size:40px;
}
.four-img-txt p{
    font-size:18px;
}
.svg-border{
    border:1px solid #08b69c;
    border-radius:50%;
    width:60px;
    height:60px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.icons svg{
    font-size:25px;
    color:#08b69c;
}
.icons p{
    font-size:18px;
    color:rgb(175, 175, 175);
}
.icons{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:space-between;
}
li{
    display:flex;
    flex-direction:column;
    gap:20px;
    width:180px;
    list-style-type:none;
    /* border:2px solid red; */
}
.teams{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: rgba(215, 235, 247, 0.45);
}
.team{
    width: 230px;
}
.team img{
    width: 100%;
    object-fit: cover;
    height: 230px;
    border-radius: 8px;
}
.contact-us{
    margin-top: 80px;
    height: fit-content;
    display: flex;
    gap: 30px;
}
.contact-us h1{
    font-weight: 400;
    font-size: 40px;
}
.contact-us p{
   color: rgb(111, 110, 110);
}
.contact-info{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    max-width: 600px;
    gap: 30px;
}
.contact-label{
    font-weight: 600;
   color: black;
}
@media only screen and (max-width:520px){
    .teal-img{
        width: 90vw;
        height: 90vw;
        background-image: url(../images/teal-gang.webp);
        background-position: center;
        background-size: contain; 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
@media only screen and (max-width:767px){
    .about-teal{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    
    }
    .teal-txt{
        width:80% ;
    }
    .teal-txt p, .teal-txt h2{
       text-align: center;
        
    }
    .abt-head{
        flex-direction: column-reverse;
        background: none;
        background-position: center;
        align-items: center;
    }
    .abt-txt{
        width:80%;
        color: black;
        align-items: center;
        /* justify-content: center; */
    }
    .abt-txt p{
       text-align: center;
    }
    .abt-empty{
        background-image: url(../images/gold.avif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height:600px;
    }
    .four{
        flex-direction: column;
        height: fit-content;
    }
    .four-img-txt{
    width: 100%;
    height: 400px;
    }
    .four-img-txt h1{
        margin-top: 90px;
        }
    .four-img{
        width: 100%;
        height:90vw;
    }
    .contact-us{
       flex-direction: column;
    }
}