button{
    cursor: pointer;
}
/* .Home{
    background: red;
} */
.first-img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    animation: bounce 3s ease-in-out infinite;
    position: relative;
}
@keyframes bounce{
    0%{
      top: -10px;
    }
    25%{
        top: 15px;
    }
    50%{
        bottom: -13px;
    }
      75%{
          bottom: 10px;
      }
      100%{
         
        bottom: 10px;
       
    }
    }
.home-head{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.home-first{
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.first-head{
   
    font-size: 56px;
    color:#15b4a9;
}
.first-p{
    font-size: 19px;
    color: rgb(94, 94, 94);
}
.first-btns{
    display: flex;
    gap: 20px;
}
.btn1{
    width:fit-content;
    padding:10px 30px;
    font-size:20px;
    border: 1px solid rgb(94, 94, 94);

    border-radius: 6px;
}
.btn2{
    width:fit-content;
    padding:10px 30px;
    font-size:20px;
    border: none;
    color: white;
    background: #000;
    border-radius: 6px;
}
.companies{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}
.img1{
    height: 50%;
}
.img2{
    height: 170%;
}
.img3{
    height: 100%;
}
.img4{
    height: 80%;
}
.home-sec1,.home-sec2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}
.sec-link{
    text-decoration: none;
    font-size: 20px;
    color:#13958d ;
    font-weight: 500;
}
.home-sec{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.home-sec3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.home-sec1-h1{
    font-size: 39px;
}
.img5{
    width: 40%;
}
.home-sec2{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: fit-content;
}
.sec2{
    display: flex;
    gap: 20px;
}
.sec2-pt1{
     background: rgb(255, 244, 240);
}
.sec2-pt2{
    background: rgb(246, 242, 255);
}
.sec2-pt3{
    background: rgb(219, 255, 248);
}
.sec2-pt{
    overflow: hidden;
    width: 30%;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 85vh;
   
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.sec2-pt img{
    margin: 0 auto;
    border: 20px solid white;
    border-radius: 50%;
    max-width: 150px;
    position: relative;
    bottom: -75px;
}
.sec-body{
    padding:10px 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #ffffff;
    height: 80%;
    align-items: center;
}
.grey{
    color: rgb(180, 179, 179);
}
.sec3{
    margin-top: 100px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.sec3 img{
    width: 45%;
}
.home-sec4{
    width: 100%;
    padding: 0 20px;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(233, 247, 241),rgb(234, 247, 255),rgb(233, 247, 241));
}
.home-sec4p{
    max-width: 500px;
    /* height: 30vw; */
    min-height: 95vh;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec4-p{
    width: 100%;
    text-align: center;
    font-size: 17px;
    color: rgb(117, 115, 115);
}
.testimonies{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.testimony{
    height: 350px;
    width: 300px;
    padding:30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(84, 150, 248, 0.07) 0px 1px 2px, rgba(84, 150, 248, 0.07) 0px 2px 4px, rgba(84, 150, 248, 0.07) 0px 4px 8px, rgba(84, 150, 248, 0.07) 0px 8px 16px, rgba(84, 150, 248, 0.07) 0px 16px 32px, rgba(84, 150, 248, 0.07) 0px 32px 64px;
}
.test-info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.name{
    font-size: 18px;
    font-weight: 400;
}
.test-info img{
    border-radius: 50%;
}
.home-sec6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    gap: 30px;
}
.join{
    width: fit-content;
    color: rgb(1, 1, 33);
    background: #6abfd2;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.rise{
    width: 50%;
}
.home-sec7{
    display: flex;
    background: rgb(210, 239, 247);
    border-radius: 20px;
    align-items: center;
    height: 65vh ;
    justify-content: space-evenly;
    overflow: hidden;
}
.home-sec7 img{
    position: relative;
    bottom: -100px;
 }






@media only screen and (max-width:1016px) {
    .first-head{
        text-align: center;
        font-weight: normal;
    }
    .first-p{
        text-align: center;
    }
    .home-first{
        align-items: center;
        justify-content: center;
    }
    .home-head{
       flex-direction: column;
       height: fit-content;
       gap: 50px;
    }
    .companies{
       height: fit-content;
       flex-wrap: wrap;
       gap: 0;
      justify-content: space-between;
    }
    .img1{
        height: 2.3em;
    }
 }


 @media only screen and (max-width:767px) {
    .home-sec1{
       flex-direction: column-reverse;
    }
    .home-sec2{
        flex-direction: column-reverse;
     }
    .img5{
        width: 60%;
    }
    .home-sec{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 70%;
    }
    .sec-body{
        gap: 0;
        justify-content: space-between;
    }
    .home-sec3{
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 70%;
    }
    .home-sec1-h1{
        text-align: center;
        font-size: 30px;
    }
    .sec-link{
       text-align: center;
    }
    .sec2{
        flex-direction: column;
        height: fit-content;
    }
    .sec2-pt{
        overflow: hidden;
       width: 100%;
        height: 500px;
    }
    .sec3{
        flex-direction: column;
    }
    .sec3 img{
        width: 90%;
    }
    .testimonies{
        flex-direction: column;
    }
    .testimony{
        width: 90%;
        height: fit-content;
        gap: 30px;
    }
    .home-sec6{
       flex-direction: column;
    }
    .rise{
        width: 100%;
    }
    .home-sec7{
        justify-content: center;
        align-items: center;
       flex-direction: column;
       height: 100vh;
       gap: 20px;
       /* background: #000; */
       overflow: hidden;
    }
    .home-sec-pos{
        position: relative;
        top: 150px;
    }
    .home-sec7 img{
        bottom: -30%;
     }
 }