.sign-log{
    height: 100vh;
    width: 100%;
    display: flex;
}
.width{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.log-sign-page{
    width: 65%;
    height: 100%;
}
.btnLink{
    width:100%;
}
.btnLink button{
    width:100%;
}
.log-txt{
    background-image: url(../images/dots.baf2dd85.jpg);
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 35%;
    height: 100%;
    padding:  100px 60px;
}
.log-txt h1{
    margin-top: 30px;
    color: white;
    font-size: 40px;
}
.login{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 30px;
    margin:70px 120px;
}
.log-sign-page input{
    border-radius: 8px;
    border: 1px solid rgb(90, 244, 241);
    height: 50px;
    font-size: 18px;
    color: rgb(93, 93, 93);
    padding-left: 20px;
}
.log-sign-page input:focus, .log-sign-page input:active, .log-sign-page input:hover{
  outline: none;
}
.log-sign-page .input{
    border: none;
    width: 90%;
    
}
.password{
    border: 1px solid rgb(90, 244, 241);
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
}
.log-sign-page button{
    border-radius: 8px;
    border: none;
    height: 50px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    background: rgb(7, 188, 152);
}
.log-sign-page span{
    color: rgb(4, 153, 123);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
@media only screen and (max-width:1023px){
    .sign-log{
        flex-direction: column;
        height: 100vh;
    }
    .log-sign-page{
        width: 100%;
        height: 90%;
        
    }
    .log-txt{
        background-image: url(../images/dots.baf2dd85.jpg);
       height: 10%;
       width: 100%;
    }
    .log-txt h1{
       display: none;
    }
    .login{
        height: fit-content;
        margin:1rem 10%;
        gap: 20px;
        max-width: 500px;
    }
    .log-txt h1{
        margin-top: 0;  
        margin-bottom: 0; 
    }
    .log-txt{
        padding-top: 20px;
        padding-left: 20px;
        /* padding-bottom: 20px; */
        background-image: url(../images/dots.baf2dd85.jpg);
        background-position: 0% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        /* width: 35%; */
        /* height: 100%; */
        /* padding:  80px 60px; */
    }
}

